{% load static %}
<div class="section text-center">
    <h2 class="title">Here is our team</h2>
    <div class="team">
        <div class="row">
            {% for c in contact %}

                <div class="col-md-4">
                    <div class="team-player">
                        <div class="card card-plain">
                            <div class="col-md-6 ml-auto mr-auto">
                                <img src="{{ c.picture.url }}" alt="Thumbnail Image"
                                     class="img-raised rounded-circle img-fluid">
                            </div>
                            <h4 class="card-title">{{ c.name }}
                                <br>
                                <small class="card-description text-muted">{{ c.job }}</small>
                            </h4>
                            <div class="card-body">
                                <p class="card-description">{{ c.about }}</p>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="{{ c.twitter }}" class="btn btn-link btn-just-icon"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="{{ c.instagramURL }}" class="btn btn-link btn-just-icon"><i
                                        class="fa fa-instagram"></i></a>
                                <a href="{{ c.website }}" class="btn btn-link btn-just-icon"><i
                                        class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>

</div>

