<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                {% include "link.html" %}


            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , made with <i class="material-icons">favorite</i> by
            <a href="http://www.furkankykc.me" target="_blank">Furkankyc</a> for Mail Advertising.
        </div>
    </div>
</footer>
