{% load staticfiles %}
<div class="page-header header-filter" data-parallax="true"
     style="background-image:url({{ page.slider.mainImage.url }})">
    <div class="container">
        <div class="row">
            {% include 'slider-item.html' %}

            {#            <div class="col-md-6">#}
            {#                <h1 class="title">Bulk Mailing Tools</h1>#}
            {#                <h4>Reliable solutions for Bulk mailing and mail marketing<br>Reach billions just with a click</h4>#}
            {#                <br>#}
            {#                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"#}
            {#                   class="btn btn-danger btn-raised btn-lg">#}
            {#                    <i class="fa fa-play"></i> Watch video#}
            {#                </a>#}
            {#            </div>#}

        </div>
    </div>
</div>
